<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Angular | A first example: Data binding</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../default.css">
        <script type="text/javascript" src="../angular.js"></script>
    </head>
    <body>
        <div ng-init="qty=1;cost=2">
            <b>Invoice: </b>
            <div>
                Quantity: <input type="number" ng-model="qty" required>
            </div>
            <div>
                Costs: <input type="number" ng-model="cost" required>
            </div>
            <div>
                <b>Total: </b> {{qty * cost | currency}}
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </body>
</html>
